In [ ]:
%%time

from adlfs import AzureBlobFileSystem

import time

import json
import pandas
import pandas as pd
from tqdm import tqdm

from common.schemas.pyarrow_schema import tagging_schema
from common.storage.azure_file_storage import AzureFileStorageAdapter
from common.captioning.azure_descriptions import AzureCaption
from common.schemas.pyarrow_schema import schema
from PIL import Image
import requests


tqdm.pandas(desc="Progress")
file_system: AzureBlobFileSystem = AzureFileStorageAdapter('data').get_file_storage()

from common.data_frame_functions.functions import Functions

functions: Functions = Functions()

caption: AzureCaption = AzureCaption(file_system)

In [5]:
%%time

curated_df = pandas.read_parquet('data/parquet/back.parquet', filesystem=file_system, engine='pyarrow')

CPU times: total: 766 ms
Wall time: 1.88 s

In [6]:
%%time

captions = pd.read_parquet('data/parquet/image_captions.parquet', filesystem=file_system, engine='pyarrow')
tags = pd.read_parquet('data/parquet/image_tags.parquet', filesystem=file_system, engine='pyarrow')
crops = pd.read_parquet('data/parquet/image_cropping.parquet', filesystem=file_system, engine='pyarrow')

display(captions.shape)
display(tags.shape)
display(crops.shape)

(31180, 7)

(71153, 3)

(3509, 6)

CPU times: total: 391 ms
Wall time: 1.09 s

In [7]:
%%time

current_captions = file_system.ls("data/caption")
display(len(current_captions))

3509

CPU times: total: 5.27 s
Wall time: 6.74 s

In [8]:
%%time

all_data = []
for caption_file in tqdm(current_captions, total=len(current_captions), desc='Reading caption files'):
	caption_data = json.loads(file_system.read_text(caption_file, encoding='utf-8'))
	dense_caption_result = caption_data.get('denseCaptionsResult')
	metadata = caption_data.get('metadata')
	tags_result = caption_data.get('tagsResult')
	smart_crop_result = caption_data.get('smartCropsResult')
	basic_caption = caption_data.get('captionResult')
	image_id = caption_file.split('/')[-1].split('.')[0]
	filtered_data = {
		"id": image_id,
		'captions': [basic_caption],
		"dense_captions": dense_caption_result['values'],
		"meta": [metadata],
		"tags": tags_result['values'],
		"smart_crop": smart_crop_result['values']
	}
	all_data.append(filtered_data)

Reading caption files: 100%|██████████| 3509/3509 [05:38<00:00, 10.36it/s]

CPU times: total: 1min 29s
Wall time: 5min 38s

In [9]:
%%time

new_captions = pandas.json_normalize(data=all_data, record_path=['dense_captions'], meta=['id'], record_prefix='dense_captions_')
new_tags = pandas.json_normalize(data=all_data, record_path=['tags'], meta=['id'], record_prefix='tags_')
new_crops = pandas.json_normalize(data=all_data, record_path=['smart_crop'], meta=['id'], record_prefix='smart_crop_')

CPU times: total: 4.95 s
Wall time: 7.66 s

In [10]:
%%time

new_basic_captions = pandas.json_normalize(data=all_data, record_path=['captions'], meta=['id'], record_prefix='captions_')
meta = pandas.json_normalize(data=all_data, record_path=['meta'], meta=['id'], record_prefix='meta_')

CPU times: total: 219 ms
Wall time: 344 ms

In [11]:
%%time

display(new_captions)
display(new_tags)
display(new_crops)
display(new_basic_captions)
display(meta)

,dense_captions_text,dense_captions_confidence,dense_captions_boundingBox.x,dense_captions_boundingBox.y,dense_captions_boundingBox.w,dense_captions_boundingBox.h,id
0,a woman taking a selfie,0.662057,0,0,1468,2608,1002cx2
1,a woman taking a selfie,0.665344,0,100,1447,2473,1002cx2
2,a woman wearing a black dress,0.473444,185,1443,1265,1150,1002cx2
3,a close up of a key,0.593095,716,1503,82,140,1002cx2
4,a close up of an eye,0.619898,778,744,152,84,1002cx2
...,...,...,...,...,...,...,...
31175,a close-up of a green plant,0.453059,680,1066,394,280,zzxq2l
31176,a mountain range in the distance,0.334624,498,277,568,99,zzxq2l
31177,a woman smiling at the camera,0.465720,244,293,319,530,zzxq2l
31178,a woman wearing a dress,0.548892,0,758,1048,570,zzxq2l
31179,a close up of a hand,0.566506,220,809,73,55,zzxq2l

        tags_name  tags_confidence       id
0          person         0.998358  1002cx2
1      human face         0.997763  1002cx2
2        clothing         0.990993  1002cx2
3            lady         0.981919  1002cx2
4           smile         0.964994  1002cx2
...           ...              ...      ...
71148       woman         0.753262   zzxq2l
71149       beach         0.739799   zzxq2l
71150    standing         0.630927   zzxq2l
71151        girl         0.556561   zzxq2l
71152    mountain         0.544261   zzxq2l

[71153 rows x 3 columns]

,smart_crop_aspectRatio,smart_crop_boundingBox.x,smart_crop_boundingBox.y,smart_crop_boundingBox.w,smart_crop_boundingBox.h,id
0,1.0,0,140,1462,1462,1002cx2
1,1.0,143,138,1249,1250,1003dod
2,1.0,0,355,1948,1948,1008ddt
3,1.0,0,224,1120,1120,100dcrd
4,1.0,0,0,1107,1107,100jl1b
...,...,...,...,...,...,...
3504,1.0,0,0,1025,1025,zzr9nz
3505,1.0,0,0,461,461,zzruf4
3506,1.0,0,0,2273,2273,zzu8i8
3507,1.0,135,0,1299,1299,zzvv3x
3508,1.0,101,101,970,970,zzxq2l

,captions_text,captions_confidence,id
0,a woman taking a selfie,0.662057,1002cx2
1,a woman in a garment standing next to a tree,0.513081,1003dod
2,a woman taking a selfie,0.658102,1008ddt
3,a group of women posing for a picture,0.556227,100dcrd
4,a group of women posing for a picture,0.614969,100jl1b
...,...,...,...
3504,two women in garments on a beach,0.529292,zzr9nz
3505,a woman with tattoos on her arm,0.501798,zzruf4
3506,a woman in a blue lingerie,0.430763,zzu8i8
3507,a woman sitting on a bed,0.584322,zzvv3x
3508,a woman in a dress posing for a picture,0.460149,zzxq2l

      meta_width  meta_height       id
0           1468         2608  1002cx2
1           1523         2030  1003dod
2           1956         3075  1008ddt
3           1152         1642  100dcrd
4           1152         1152  100jl1b
...          ...          ...      ...
3504        1080         1350   zzr9nz
3505         570          704   zzruf4
3506        2309         2560   zzu8i8
3507        1440         1800   zzvv3x
3508        1075         1351   zzxq2l

[3509 rows x 3 columns]

CPU times: total: 125 ms
Wall time: 218 ms

In [12]:
merge_singles = pandas.merge(new_basic_captions, meta, on='id').set_index(keys=['id'], drop=False)
merge_singles.drop_duplicates(inplace=True)
merge_singles.reset_index(drop=True, inplace=True)
display(merge_singles)

,captions_text,captions_confidence,id,meta_width,meta_height
0,a woman taking a selfie,0.662057,1002cx2,1468,2608
1,a woman in a garment standing next to a tree,0.513081,1003dod,1523,2030
2,a woman taking a selfie,0.658102,1008ddt,1956,3075
3,a group of women posing for a picture,0.556227,100dcrd,1152,1642
4,a group of women posing for a picture,0.614969,100jl1b,1152,1152
...,...,...,...,...,...
3504,two women in garments on a beach,0.529292,zzr9nz,1080,1350
3505,a woman with tattoos on her arm,0.501798,zzruf4,570,704
3506,a woman in a blue lingerie,0.430763,zzu8i8,2309,2560
3507,a woman sitting on a bed,0.584322,zzvv3x,1440,1800
3508,a woman in a dress posing for a picture,0.460149,zzxq2l,1075,1351

In [13]:
merged_to_curate = pandas.merge(merge_singles, curated_df, on='id', how='outer').set_index(keys=['id'], drop=False)
merged_to_curate.fillna(value='', inplace=True)
display(merged_to_curate)

,captions_text,captions_confidence,id,meta_width,meta_height,subreddit,author,title,caption,hash,permalink,original_url,image_name,path,model,exists,curated,accept,tags
id,,,,,,,,,,,,,,,,,,,
1002cx2,a woman taking a selfie,0.662057,1002cx2,1468.0,2608.0,SFWRedheads,Sayleywayley,Happy New Year to every single person near and...,blonde woman with red hair and black bra top p...,1fb785ca16b10f4f7613961f0b88f369,/r/SFWRedheads/comments/1002cx2/happy_new_year...,https://i.redd.it/el3s490lzb9a1.jpg,1002cx2.jpg,data/image/1002cx2.jpg,RedHeadDiffusion,True,True,True,[]
1003dod,a woman in a garment standing next to a tree,0.513081,1003dod,1523.0,2030.0,HotGirlNextDoor,fairytale808,pink and blonde (iktr),blonde woman in pink bikinisuit standing on a ...,0849c7aafe126ad27b58cb6e6c9c6592,/r/HotGirlNextDoor/comments/1003dod/pink_and_b...,https://i.redd.it/x56eekrd8c9a1.jpg,1003dod.jpg,data/image/1003dod.jpg,SexyDiffusion,True,True,True,[]
1008ddt,a woman taking a selfie,0.658102,1008ddt,1956.0,3075.0,SFWRedheads,Fit_Advertising4668,happy new year from Scotland 🏴󠁧󠁢󠁳󠁣󠁴󠁿,smiling woman in a green velvet dress with a g...,945b3f444ccaa79f73655fa44bd6a156,/r/SFWRedheads/comments/1008ddt/happy_new_year...,https://i.redd.it/rdywcwiyhd9a1.jpg,1008ddt.jpg,data/image/1008ddt.jpg,RedHeadDiffusion,True,True,True,[]
100dcrd,a group of women posing for a picture,0.556227,100dcrd,1152.0,1642.0,HotGirlNextDoor,angizni,College hotties (iktr),three girls in bikinis posing for a picture wi...,f07022ea6fac84354178a09e92dc3865,/r/HotGirlNextDoor/comments/100dcrd/college_ho...,https://i.redd.it/bm6jpns80f9a1.jpg,100dcrd.jpg,data/image/100dcrd.jpg,SexyDiffusion,True,True,True,[]
100jl1b,a group of women posing for a picture,0.614969,100jl1b,1152.0,1152.0,HotGirlNextDoor,angizni,Sorority hotties (iktr),three women in red dresses standing next to ea...,6cdfb6741d444b243542ae7d40f57b40,/r/HotGirlNextDoor/comments/100jl1b/sorority_h...,https://i.redd.it/wfxx3uc35h9a1.jpg,100jl1b.jpg,data/image/100jl1b.jpg,SexyDiffusion,True,True,True,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13d2hsf,,,13d2hsf,,,bathandbodyworks,alesieoksap,Ice Cream Shop Collection?,someone holding a cup of ice cream in their hand,c6788074138175c661fc652bd7630e33,/r/bathandbodyworks/comments/13d2hsf/ice_cream...,https://i.redd.it/uhwamoq99wya1.jpg,13d2hsf.jpg,data/image/13d2hsf.jpg,CandleDiffusion,True,True,True,[]
13d661b,,,13d661b,,,bathandbodyworks,xeloux,Facebook market finds!,three candles are sitting on a blanket on a bed,e868289445c195815dd67dd0df1a65cb,/r/bathandbodyworks/comments/13d661b/facebook_...,https://i.redd.it/skd10hefxwya1.jpg,13d661b.jpg,data/image/13d661b.jpg,CandleDiffusion,True,True,True,[]
13d8s0i,,,13d8s0i,,,bathandbodyworks,Alternative-Tea-9355,Black Cherry Merlot dupe,someone holding a tube of body cream in a store,965bc5a58a597192700234729758101b,/r/bathandbodyworks/comments/13d8s0i/black_che...,https://i.redd.it/xt7qew9qexya1.jpg,13d8s0i.jpg,data/image/13d8s0i.jpg,CandleDiffusion,True,True,False,[]
13dagbr,,,13dagbr,,,bathandbodyworks,Dove04,Does anyone know how I could get rid of this r...,someone is holding a white device with a hole ...,41732e4109a99c99c91c2181867d18e3,/r/bathandbodyworks/comments/13dagbr/does_anyo...,https://i.redd.it/p0j6atz6rxya1.jpg,13dagbr.jpg,data/image/13dagbr.jpg,CandleDiffusion,True,True,False,[]
13dbhn4,,,13dbhn4,,,bathandbodyworks,Thebigbooty01,Gratis today at work,there are some bottles of bath and body produc...,f2afdcbed21cc1f44ac757bf2f797ae6,/r/bathandbodyworks/comments/13dbhn4/gratis_to...,https://i.redd.it/x954qki8zxya1.jpg,13dbhn4.jpg,data/image/13dbhn4.jpg,CandleDiffusion,True,True,True,[]

In [14]:
%%time

merged_captions = pandas.concat([new_captions, captions])
merged_captions.set_index(keys=['id', 'dense_captions_text', 'dense_captions_confidence'], inplace=True, drop=False)
merged_captions.drop_duplicates(inplace=True)
merged_captions.reset_index(drop=True, inplace=True)

display(f'{merged_captions.shape[0] - captions.shape[0]} new rows added to captions')

merged_captions.to_parquet('data/parquet/image_captions.parquet', filesystem=file_system, engine='pyarrow')
display(pandas.read_parquet('data/parquet/image_captions.parquet', filesystem=file_system, engine='pyarrow'))

'0 new rows added to captions'

,dense_captions_text,dense_captions_confidence,dense_captions_boundingBox.x,dense_captions_boundingBox.y,dense_captions_boundingBox.w,dense_captions_boundingBox.h,id
0,a woman taking a selfie,0.662057,0,0,1468,2608,1002cx2
1,a woman taking a selfie,0.665344,0,100,1447,2473,1002cx2
2,a woman wearing a black dress,0.473444,185,1443,1265,1150,1002cx2
3,a close up of a key,0.593095,716,1503,82,140,1002cx2
4,a close up of an eye,0.619898,778,744,152,84,1002cx2
...,...,...,...,...,...,...,...
31175,a close-up of a green plant,0.453059,680,1066,394,280,zzxq2l
31176,a mountain range in the distance,0.334624,498,277,568,99,zzxq2l
31177,a woman smiling at the camera,0.465720,244,293,319,530,zzxq2l
31178,a woman wearing a dress,0.548892,0,758,1048,570,zzxq2l
31179,a close up of a hand,0.566506,220,809,73,55,zzxq2l

CPU times: total: 562 ms
Wall time: 1.8 s

In [15]:
%%time

merged_tags = pandas.concat([new_tags, tags])
merged_tags.set_index(keys=['id', 'tags_name', 'tags_confidence'], inplace=True, drop=False)
merged_tags.drop_duplicates(inplace=True)
merged_tags.reset_index(drop=True, inplace=True)

display(f'{merged_tags.shape[0] - tags.shape[0]} new rows added to tags')

merged_tags.to_parquet('data/parquet/image_tags.parquet', filesystem=file_system, engine='pyarrow')
display(pandas.read_parquet('data/parquet/image_tags.parquet', filesystem=file_system, engine='pyarrow'))

'0 new rows added to tags'

        tags_name  tags_confidence       id
0          person         0.998358  1002cx2
1      human face         0.997763  1002cx2
2        clothing         0.990993  1002cx2
3            lady         0.981919  1002cx2
4           smile         0.964994  1002cx2
...           ...              ...      ...
71148       woman         0.753262   zzxq2l
71149       beach         0.739799   zzxq2l
71150    standing         0.630927   zzxq2l
71151        girl         0.556561   zzxq2l
71152    mountain         0.544261   zzxq2l

[71153 rows x 3 columns]

CPU times: total: 625 ms
Wall time: 2.15 s

In [16]:
%%time

merged_crops = pandas.concat([new_crops, crops])
merged_crops.set_index(keys=['id'], inplace=True, drop=False)
merged_crops.drop_duplicates(inplace=True)
merged_crops.reset_index(drop=True, inplace=True)

display(f'{merged_crops.shape[0] - crops.shape[0]} new rows added to crops')

merged_crops.to_parquet('data/parquet/image_cropping.parquet', filesystem=file_system, engine='pyarrow')

display(pandas.read_parquet('data/parquet/image_cropping.parquet', filesystem=file_system, engine='pyarrow'))

'0 new rows added to crops'

,smart_crop_aspectRatio,smart_crop_boundingBox.x,smart_crop_boundingBox.y,smart_crop_boundingBox.w,smart_crop_boundingBox.h,id
0,1.0,0,140,1462,1462,1002cx2
1,1.0,143,138,1249,1250,1003dod
2,1.0,0,355,1948,1948,1008ddt
3,1.0,0,224,1120,1120,100dcrd
4,1.0,0,0,1107,1107,100jl1b
...,...,...,...,...,...,...
3504,1.0,0,0,1025,1025,zzr9nz
3505,1.0,0,0,461,461,zzruf4
3506,1.0,0,0,2273,2273,zzu8i8
3507,1.0,135,0,1299,1299,zzvv3x
3508,1.0,101,101,970,970,zzxq2l

CPU times: total: 109 ms
Wall time: 578 ms

In [17]:
import os
def create_thumbnail(image_id_, curated_df_, crops_, extant_files_):
	try:
		record = None
		cropping_information = None
		if image_id_ in extant_files_:
			return None
		try:
			record = curated_df.loc[curated_df['id'] == image_id_]
			cropping_information = crops.loc[crops['id'] == image_id_]
		except KeyError or IndexError:
			return None
		if record is None and cropping_information is None and len(record) == 0 and len(cropping_information) == 0:
			return None
		if record is not None and cropping_information is not None:
			record = curated_df_.loc[curated_df_['id'] == image_id_]
			cropping_information = crops_.loc[crops['id'] == image_id_]
			try:
				image_url = file_system.url(record.path.values[0])
			except Exception as e:
				display(f'Error creating thumbnail for {image_id_}: {e}', clear=True)
				return None
			original_image = Image.open(requests.get(image_url, stream=True).raw)
			copied_image = original_image.copy()
			original_image.close()
			try:
				cropped = copied_image.crop((cropping_information['smart_crop_boundingBox.x'].values[0], cropping_information['smart_crop_boundingBox.y'].values[0], cropping_information['smart_crop_boundingBox.x'].values[0] + cropping_information['smart_crop_boundingBox.w'].values[0], cropping_information['smart_crop_boundingBox.y'].values[0] + cropping_information['smart_crop_boundingBox.h'].values[0]))
			except Exception as e:
				display(f'Error creating thumbnail for {image_id_}: {e}', clear=True)
				return None
			copied_image.close()
			resized = cropped.resize((512, 512), 1)
			cropped.close()
			resized.save('temp.jpg')
			file_system.upload('temp.jpg', f'data/image/thumbnail/{image_id_}.jpg', overwrite=True)
			display(f'Thumbnail created for {image_id_}', clear=True)
			return None
		else:
			return None
	except Exception as e:
		display(f'Error creating thumbnail for {image_id_}: {e}', clear=True)
		return None

In [18]:
%%time

extant = [os.path.basename(item.replace('\n', '').split('.')[0]) for item in file_system.ls('data/image/thumbnail')]
display(extant)

['1011gjo',
 '1013bdt',
 '1019kyo',
 '101w7lh',
 '1027i9a',
 '1032j8y',
 '1035nya',
 '103h4hd',
 '103nm31',
 '103zqoc',
 '104it0i',
 '105dxeb',
 '105mekt',
 '105qvgl',
 '105rpcj',
 '105styc',
 '105tw6t',
 '106673i',
 '106hchf',
 '106lsw4',
 '106mh03',
 '108e7ml',
 '1096qs1',
 '109n66u',
 '109x870',
 '10bdmd2',
 '10bpm50',
 '10ce95f',
 '10cywc7',
 '10dgnk2',
 '10f78ow',
 '10gliq7',
 '10gzlqt',
 '10ht3qh',
 '10i05he',
 '10i1flv',
 '10i1qkq',
 '10i56sz',
 '10i8he7',
 '10iuhd0',
 '10jefuk',
 '10jvfeb',
 '10lhpa1',
 '10mabxc',
 '10nyadr',
 '10o96va',
 '10odumt',
 '10ok9gc',
 '10olva7',
 '10onw06',
 '10osnnk',
 '10pl8zt',
 '10pq54f',
 '10prtpi',
 '10q17m7',
 '10q1t59',
 '10q46tx',
 '10q6wg2',
 '10q8gj9',
 '10q97um',
 '10qddse',
 '10qdfml',
 '10qizmn',
 '10rrt8z',
 '10s97lu',
 '10v8oqk',
 '10vqm17',
 '110xnuk',
 '112nsvw',
 '115h657',
 '116vz5e',
 '11gpbyp',
 '11jmesr',
 '11lk9x2',
 '11pgiwg',
 '11v9eir',
 '1213x1h',
 '124poau',
 '1271iyi',
 '1282v0e',
 '128n9ri',
 '129m4ch',
 '129z5l8',
 '12ag6n1',
 '12c14gw',
 '12e5wtg',
 '12em94b',
 '12f7rgw',
 '12g1ip4',
 '12gk9cx',
 '12hjo1f',
 '12hrfjj',
 '12ispa4',
 '12j61te',
 '12jrcj3',
 '12kq7eh',
 '12lsqqz',
 '12ly8fn',
 '12n3cmy',
 '12rcsp5',
 '12szmth',
 '12tifon',
 '12u2nyx',
 '12v27qb',
 '12vm0v4',
 '12vrljn',
 '12w4kvz',
 '12wyxah',
 '12xbi1u',
 '12xgrad',
 '12ygbgq',
 '12zih7h',
 '1306lqa',
 '130n2np',
 '131egj6',
 'ovjlv5',
 'owf3s1',
 'p1fpjz',
 'panwn2',
 'pdmm4y',
 'pfuh8t',
 'pgvp4h',
 'ph5q2d',
 'phiook',
 'pi4awt',
 'pidleo',
 'pkb2n3',
 'pkyd6m',
 'po3chf',
 'ppr179',
 'pqdma0',
 'pv7ag5',
 'q1wyg7',
 'qnrbfd',
 'qpu7kp',
 'qq5i1h',
 'qqkgvq',
 'qqwagg',
 'qrb7vg',
 'qsczom',
 'qsrrjz',
 'qwrkke',
 'qx6lrn',
 'qz1170',
 'r0370j',
 'r0f30g',
 'r17403',
 'r1m8sl',
 'r4xngm',
 'r5p39b',
 'r7omrf',
 'rc80m5',
 'rfhlq5',
 'rjyeo4',
 'rl4h65',
 'rmxga7',
 'ro0yq5',
 'ronq8i',
 'rppalm',
 'rsjpf2',
 'rt9yt6',
 'rvwanf',
 'rxwsks',
 'rztg0h',
 's1vgzb',
 's9sf2n',
 'scvj30',
 'sd7w5e',
 'sdo13c',
 'sfjsu2',
 'sh35zl',
 'shk8bp',
 'sidlkn',
 'siqpjp',
 'slyn5f',
 'smffs6',
 'sms7eq',
 'sofldd',
 'sq1cq8',
 'sqtcc5',
 'stl5nc',
 'sycifr',
 'sypm8x',
 'sz6eqz',
 'szjgor',
 't3558y',
 't5hgxe',
 't5tg7f',
 't6ktt2',
 't7ph0b',
 't96vhk',
 'tbry1x',
 'tdnjcs',
 'tdzfsx',
 'tef2y0',
 'tg0c94',
 'tjdr7s',
 'tkkd95',
 'trvmnw',
 'ts732c',
 'tsp3t9',
 'ttrdj4',
 'tvqba6',
 'tydqh1',
 'u0wqvx',
 'u48oz1',
 'u5ctfw',
 'u8ob3l',
 'uak9vn',
 'ubltiy',
 'ucd7yf',
 'udvo1p',
 'ugqaap',
 'ujcvfc',
 'ul2c40',
 'upvqea',
 'uud6pl',
 'uxww5r',
 'uzdbpw',
 'v01c06',
 'v0pocd',
 'v2607q',
 'v401ku',
 'v4pgsb',
 'v6wdeo',
 'v8wsk9',
 'v98eiv',
 'vamkno',
 'vc44x4',
 'vedupb',
 'vevsdo',
 'vf6uh6',
 'vgaand',
 'vlw6ho',
 'vngi28',
 'vnwlwf',
 'vop36i',
 'vr829v',
 'vvgvix',
 'vwzhrq',
 'vy3xch',
 'w0w9hx',
 'w181qg',
 'w1nltk',
 'w3n2au',
 'w4ycew',
 'w64p23',
 'w6w9ln',
 'w7pphj',
 'w91wqk',
 'wblx1m',
 'wby6l4',
 'wcpeha',
 'wecfo5',
 'whozvs',
 'wk420n',
 'wkl61z',
 'wm8vt6',
 'wmlzn3',
 'wp0er7',
 'wphp67',
 'wpv382',
 'wr6v9q',
 'ws1fzo',
 'wser0x',
 'wsvc7q',
 'wt7swe',
 'wu0afd',
 'wxwc1t',
 'wzjnee',
 'x2v8nr',
 'x38f5f',
 'x3p6w8',
 'x6409n',
 'x7sjjm',
 'xad1jo',
 'xaq42q',
 'xc0b0q',
 'xcuwep',
 'xdpd1f',
 'xe2r0s',
 'xexlkr',
 'xfehhq',
 'xgn9pv',
 'xhhf1f',
 'xicvg5',
 'xivtvf',
 'xmfyvn',
 'xmtmgr',
 'xnaj64',
 'xp36c1',
 'xphkp1',
 'xqdim7',
 'xqv71d',
 'xtcjhu',
 'xtpj5l',
 'xu6e8s',
 'xvfvev',
 'xytitd',
 'xz9qq2',
 'y02km0',
 'y0fizf',
 'y0wmyr',
 'y19t9e',
 'y1r2bo',
 'y2mbzc',
 'y83i87',
 'y8l5rc',
 'y8z1yr',
 'y9goeq',
 'yab5nb',
 'ybz8d7',
 'ycszxo',
 'yfoyhd',
 'ygke9l',
 'yh2vv0',
 'yhgdu1',
 'yk7ilk',
 'ym19dx',
 'ymlcfe',
 'ymvhze',
 'yn2irc',
 'ynlbt6',
 'yns5re',
 'yo71q9',
 'ypopeq',
 'yqlbf7',
 'yr3im1',
 'yrzgo8',
 'ysgkjg',
 'yt9cf6',
 'ytjs2s',
 'ytttbp',
 'yu41iq',
 'yugsit',
 'ywiv0k',
 'ywvpen',
 'yxhlpc',
 'yxt6t9',
 'yy9c8j',
 'z067ks',
 'z1ije6',
 'z1vq39',
 'z2dgvl',
 'z4rzpq',
 'z4u1xz',
 'z6gu0e',
 'z6kwo6',
 'z6ypt0',
 'z7fn51',
 'z7heou',
 'z8f6ex',
 'z8tmwj',
 'za5a21',
 'zawc2b',
 'zb5w7e',
 'zbn64p',
 'zbvyyg',
 'zbymej',
 'zcuwn3',
 'ze8wp5',
 'ze9wml',
 'zg1c7f',
 'zhulkb',
 'zitlo7',
 'zk1dkz',
 'zlfjr6',
 'zlt6qz',
 'zngm4y',
 'znqjpa',
 'zo81z2',
 'zp0hnk',
 'zp68ea',
 'zp99sa',
 'zqccx0',
 'zqyw7y',
 'zrkhhb',
 'ztia01',
 'zu01nq',
 'zubhcc',
 'zup562',
 'zuzmss',
 'zvdglz',
 'zy7e2q',
 'zyscw8',
 'zz2jkp']

CPU times: total: 656 ms
Wall time: 1.63 s

In [19]:
%%time

for elem in tqdm(curated_df.id.values, total=len(curated_df.id.values), desc='Creating thumbnails'):
	create_thumbnail(elem, curated_df, crops, extant)

'Thumbnail created for zsv66h'

Creating thumbnails:  28%|██▊       | 10341/37031 [1:37:25<3:21:42,  2.21it/s]